.venv/
venv/
env/
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
dist/
build/
.env
.env.*
*.pem
credentials.json
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.log
Data/
models/
*.ipynb
ynov-hackathon-climatologie/
